<turbo-frame id="main_content_area" class="transition-opacity duration-500 ease-in-out opacity-0" data-controller="transition">

  <div class="flex flex-col items-center justify-center min-h-[calc(100vh-80rem)] px-4 py-8">
    <div class="card card-border w-full max-w-2xl bg-neutral p-8" style="color:#d2d3c8;">
      <% progress_percentage = quiz_progress_percentage(question, quiz_entry) %>
      <div class="w-full bg-gray-200 rounded-full h-2.5 mb-6">
        <div class="bg-primary h-2.5 rounded-full" style="width: <%= progress_percentage %>%"></div>
      </div>
      <p class="text-sm text-right mb-4"><%= progress_percentage %>% Complete</p>

      <h2 class="text-3xl font-bold mb-8 mt-9 text-center"><%= question.text %></h2>

      <%= form_with url: answer_quiz_question_path, method: :post, data: { controller: "quiz-question", turbo_frame: "main_content_area" } do |form| %>
        <%= form.hidden_field :quiz_entry_id, value: quiz_entry.id %>
        <%= form.hidden_field :question_id, value: question.id %>

        <div class="grid grid-cols-1 gap-4">
          <% question.quiz_options.each do |option| %>
            <label class="block cursor-pointer">
              <%= form.radio_button :quiz_option_id, option.id, class: "hidden peer", data: { action: "change->quiz-question#select" } %>
              <div class="p-4 border-2 border-gray-200 rounded-lg text-left transition-all duration-200 ease-in-out
                          hover:border-primary hover:bg-primary hover:text-white
                          peer-checked:border-primary peer-checked:bg-primary peer-checked:shadow-md flex justify-between items-center">
                <span class="text-lg font-medium"><%= option.text %></span>
                <svg class="w-6 h-6 text-primary hidden peer-checked:block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
              </div>
            </label>
          <% end %>
        </div>
      <% end %>

      <% if has_previous_question %>
        <%= form_with url: go_back_quiz_question_path, method: :post, data: { turbo_frame: "main_content_area" } do |form| %>
          <%= form.hidden_field :quiz_entry_id, value: quiz_entry.id %>
          <%= form.hidden_field :question_id, value: question.id %>
          <%= form.submit "Back", class: "mt-6 rounded-md bg-primary text-white px-3.5 py-2.5 text-sm font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-400" %>
        <% end %>
      <% else %>
        <div class="mt-6 h-10"></div>
      <% end %>
    </div>
  </div>
</turbo-frame>
