<% if @dosha_scores.present? %>
  <div class="card card-border bg-base-100 border-base-300">
    <figure>
      <%= image_tag 'elements.png', class: 'rounded-t-xl h-auto max-h-64 w-full object-cover' %>
    </figure>

    <div class="card-body">
      <h2 class="card-title text-xl font-black mb-2 text-primary">Your Elemental Balance</h2>
      <p><span class="font-semibold">Ayurveda</span> begins with a powerful truth: you are a living expression of the five cosmic elements. These elements shape your physical body, mind, emotions, and even the way you connect with others.</p>
      <p class="mb-6">These percentages reflect the current proportions of <span class="text-indigo-700 font-semibold">Space</span>, <span class="text-sky-400 font-semibold">Air</span>, <span class="text-orange-600 font-semibold">Fire</span>, <span class="text-blue-600 font-semibold">Water</span>, and <span class="text-amber-800 font-semibold">Earth</span> in your constitution.</p>

      <div class="divider"></div>
      <div class="flex justify-around items-center">
        <!-- Vata Score -->
        <div class="flex flex-col items-center space-y-2">
          <div class="radial-progress text-blue-500" style="--value:<%= @dosha_percentages['Vata'] %>; --size:8rem; --thickness: 0.5rem;" role="progressbar">
            <span class="text-xl font-bold text-shadow"><%= @dosha_percentages['Vata'] %>%</span>
          </div>
          <div class="flex flex-col items-center">
            <span class="text-lg font-semibold text-blue-500">Vata</span>
            <span class="text-sm">Space & Air Elements</span>
          </div>
        </div>

        <!-- Pitta Score -->
        <div class="flex flex-col items-center space-y-1">
          <div class="radial-progress text-red-500" style="--value:<%= @dosha_percentages['Pitta'] %>; --size:8rem; --thickness: 0.5rem;" role="progressbar">
            <span class="text-xl font-bold text-shadow"><%= @dosha_percentages['Pitta'] %>%</span>
          </div>
          <span class="text-lg font-semibold text-red-500">Pitta</span>
          <span class="text-sm">Fire & Water Elements</span>
        </div>

        <!-- Kapha Score -->
        <div class="flex flex-col items-center space-y-1">
          <div class="radial-progress text-green-500" style="--value:<%= @dosha_percentages['Kapha'] %>; --size:8rem; --thickness: 0.5rem;" role="progressbar">
            <span class="text-xl font-bold text-shadow"><%= @dosha_percentages['Kapha'] %>%</span>
          </div>
          <span class="text-lg font-semibold text-green-500">Kapha</span>
          <span class="text-sm">Earth & Water Elements</span>
        </div>
      </div>
    </div>
  </div>
<% end %>
