<div class="flex justify-center mx-auto mt-11">
<%= form_with(model: user, data: { turbo_action: "replace" }) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-lg border p-4">
    <legend class="fieldset-legend">Sign Up</legend>
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>

    <%= form.label :email_address, class: "label" %>
    <%= form.text_field :email_address, class: "input" %>

    <%= form.label :password, class: "label" %>
    <%= form.password_field :password, class: "input" %>

    <br />
    <%= form.submit "Login", class: "btn btn-neutral mt-4"%>
  </fieldset>
<% end %>
</div>
