<div class="flex flex-col h-full">
  <%= form_with(model: user, url: users_path, class: "flex-1 flex flex-col") do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mb-4">
        <h2 class="font-bold"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul class="list-disc pl-5 mt-2">
          <% user.errors.full_messages.each do |msg| %>
            <li class="text-sm"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="text-center mb-6">
      <h3 class="mt-7 text-2xl font-bold text-neutral-content">Create Your Account</h3>
      <p class="text-gray-300 mt-2">Sign up with your email and password</p>
    </div>

    <div class="space-y-4 flex-1">
        <div class="form-control">
          <%= f.text_field :name, 
              class: "input input-bordered w-full bg-white text-gray-800", 
              placeholder: "Name",
              required: true %>
        </div>

        <div class="form-control">
          <%= f.email_field :email_address, 
              class: "input input-bordered w-full bg-white text-gray-800", 
              placeholder: "Email Address",
              required: true %>
        </div>

        <div class="form-control">
          <%= f.password_field :password, 
              class: "input input-bordered w-full bg-white text-gray-800", 
              placeholder: "Password",
              required: true %>
        </div>

        <div class="form-control mt-4">
          <label class="label cursor-pointer justify-start gap-3">
            <%= check_box_tag :receive_health_report, 
                "1", 
                false, 
                class: "checkbox checkbox-primary" %>
            <span class="label-text text-neutral-content">Send me my health report</span>
          </label>
        </div>

        <div class="form-control mt-auto">
          <%= f.submit "Sign up", class: "btn btn-primary w-full" %>
        </div>

        <div class="divider text-gray-400 text-sm mt-4">OR</div>

        <div class="text-center pt-2">
          <p class="text-gray-300">
            Already have an account? 
            <%= link_to "Sign in", "#", 
                class: "text-primary hover:underline font-medium",
                data: { action: "click->tabs#showTab", "tabs-tab-param": "signin" } %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
