<% content_for :main_container_class, 'w-full flex-1 bg-base-200 p-8' %>
<% content_for :title, "Healing Plan Logs" %>

<div class="w-full flex flex-col items-center">
  <div class="max-w-4xl mx-auto w-full space-y-6 flex-grow">
    <div class="flex flex-col items-center justify-between">
      <h1 class="font-bold text-4xl">Healing Plan Logs</h1>
    </div>

    <table class="table bg-base-100">
      <thead>
        <tr class="text-center">
          <th></th>
          <th>Date</th>
          <th>Completed</th>
          <th>Description</th>
          <th>Focus</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <% @healing_plan_logs.each_with_index do |healing_plan_log, index| %>
          <tr class="text-center">
            <th><%= index + 1 %></th>
            <td><%= healing_plan_log.date.strftime("%b %d") %></td>
            <td><%= healing_plan_log.completed_at ? '✅' : '❌' %></td>
            <td><%= healing_plan_log.journal_entry.first(15).concat("...") %></td>
            <td><%#= truncate(healing_plan_log.description, length: 50) %></td>
            <td><%= link_to "Show Details", "#", class: "btn btn-secondary btn-xs" %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <%= link_to "Daily Check-in", my_healing_plan_path, class: "rounded-lg py-3 px-5 bg-primary text-white block font-medium mt-5" %>
</div>
