<div id="<%= dom_id verse %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Book:</strong>
    <%= verse.book_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Verse number:</strong>
    <%= verse.verse_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Text header:</strong>
    <%= verse.text_header %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Text:</strong>
    <%= verse.text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Chapter title:</strong>
    <%= verse.chapter_title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Chapter:</strong>
    <%= verse.chapter %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Page number:</strong>
    <%= verse.page_number %>
  </p>

</div>
