<turbo-frame id="main_content_area">
  <div class="mx-auto md:w-2/3 w-full flex h-full">
    <div class="mx-auto mt-9">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>

      <ul class="list bg-base-100 rounded-box shadow-md">
        <%= render @verse %>
      </ul>

      <div class="flex flex-row items-center w-full gap-x-2 mt-5">
        <%= link_to "Edit this verse", edit_verse_path(@verse), class: "btn btn-sm btn-info" %>

        <%= link_to "Back to verses", verses_path, class: "btn btn-sm btn-secondary btn-soft" %>

        <%= button_to "Destroy this verse", @verse, method: :delete, class: "btn btn-sm btn-error" %>
      </div>
    </div>
  </div>
</turbo-frame>
