<% content_for :main_container_class, 'bg-base-200' %>

<div class="container mx-auto px-4 py-8 flex flex-col w-1/2 items-center">
  <h1 class="text-center text-3xl font-bold mb-6">Editing Healing Plan for <br><%= @user.name %></h1>

  <div class="card w-full max-w-lg mx-auto bg-base-100 border border-gray-300">
    <div class="card-body">
      <%= form_with(model: [:admin, @user, @healing_plan], local: true) do |form| %>
        <% if @healing_plan.errors.any? %>
          <div class="alert alert-error shadow-lg mb-4">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <span><%= pluralize(@healing_plan.errors.count, "error") %> prohibited this healing plan from being saved:</span>
            </div>
            <ul>
              <% @healing_plan.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-control">
          <%= form.label :name, class: "label" %>
          <%= form.text_field :name, class: "input input-bordered w-full" %>
        </div>

        <div class="form-control mt-4">
          <%= form.label :description, class: "label" %>
          <%= form.text_area :description, rows: 4, class: "textarea textarea-bordered w-full" %>
        </div>

        <div class="card-actions justify-end mt-6">
          <%= form.submit "Update Healing Plan", class: "btn btn-primary text-white" %>
          <%= link_to "Cancel", admin_user_path(@user), class: "btn btn-ghost" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
