<div id="<%= dom_id cure %>">
  <p>
    <strong>Name:</strong>
    <%= cure.name %>
  </p>

  <p>
    <strong>Recommendation:</strong>
    <%= cure.recommendation %>
  </p>

  <p>
    <strong>Contraindication:</strong>
    <%= cure.contraindication %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= cure.details %>
  </p>

  <p>
    <strong>Rasa taste:</strong>
    <%= cure.rasa_taste %>
  </p>

  <p>
    <strong>Virya potency:</strong>
    <%= cure.virya_potency %>
  </p>

  <p>
    <strong>Vipaka post digestive effect:</strong>
    <%= cure.vipaka_post_digestive_effect %>
  </p>

  <p>
    <strong>Prabhava special action:</strong>
    <%= cure.prabhava_special_action %>
  </p>

  <p>
    <strong>Guna quality:</strong>
    <%= cure.guna_quality %>
  </p>

  <p>
    <strong>Samskara preparation:</strong>
    <%= cure.samskara_preparation %>
  </p>

  <p>
    <strong>Habitat and source:</strong>
    <%= cure.habitat_and_source %>
  </p>

  <p>
    <strong>Form of intake:</strong>
    <%= cure.form_of_intake %>
  </p>

  <p>
    <strong>Samyoga combination:</strong>
    <%= cure.samyoga_combination %>
  </p>

  <p>
    <strong>Elements:</strong>
    <%= cure.elements %>
  </p>

  <p>
    <strong>Recipes:</strong>
    <%= cure.recipes %>
  </p>

</div>
