<%= form_with(model: cure) do |form| %>
  <% if cure.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cure.errors.count, "error") %> prohibited this cure from being saved:</h2>

      <ul>
        <% cure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :recommendation, style: "display: block" %>
    <%= form.text_field :recommendation %>
  </div>

  <div>
    <%= form.label :contraindication, style: "display: block" %>
    <%= form.text_field :contraindication %>
  </div>

  <div>
    <%= form.label :details, style: "display: block" %>
    <%= form.textarea :details %>
  </div>

  <div>
    <%= form.label :rasa_taste, style: "display: block" %>
    <%= form.number_field :rasa_taste %>
  </div>

  <div>
    <%= form.label :virya_potency, style: "display: block" %>
    <%= form.textarea :virya_potency %>
  </div>

  <div>
    <%= form.label :vipaka_post_digestive_effect, style: "display: block" %>
    <%= form.textarea :vipaka_post_digestive_effect %>
  </div>

  <div>
    <%= form.label :prabhava_special_action, style: "display: block" %>
    <%= form.text_field :prabhava_special_action %>
  </div>

  <div>
    <%= form.label :guna_quality, style: "display: block" %>
    <%= form.number_field :guna_quality %>
  </div>

  <div>
    <%= form.label :samskara_preparation, style: "display: block" %>
    <%= form.textarea :samskara_preparation %>
  </div>

  <div>
    <%= form.label :habitat_and_source, style: "display: block" %>
    <%= form.textarea :habitat_and_source %>
  </div>

  <div>
    <%= form.label :form_of_intake, style: "display: block" %>
    <%= form.number_field :form_of_intake %>
  </div>

  <div>
    <%= form.label :samyoga_combination, style: "display: block" %>
    <%= form.textarea :samyoga_combination %>
  </div>

  <div>
    <%= form.label :elements, style: "display: block" %>
    <%= form.text_field :elements %>
  </div>

  <div>
    <%= form.label :recipes, style: "display: block" %>
    <%= form.text_field :recipes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
