<div id="<%= dom_id food %>">
  <p>
    <strong>Name:</strong>
    <%= food.name %>
  </p>

  <p>
    <strong>Recommendation:</strong>
    <%= food.recommendation %>
  </p>

  <p>
    <strong>Contraindication:</strong>
    <%= food.contraindication %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= food.details %>
  </p>

  <p>
    <strong>Rasa taste:</strong>
    <%= food.rasa_taste %>
  </p>

  <p>
    <strong>Virya potency:</strong>
    <%= food.virya_potency %>
  </p>

  <p>
    <strong>Vipaka post digestive effect:</strong>
    <%= food.vipaka_post_digestive_effect %>
  </p>

  <p>
    <strong>Prabhava special action:</strong>
    <%= food.prabhava_special_action %>
  </p>

  <p>
    <strong>Guna quality:</strong>
    <%= food.guna_quality %>
  </p>

  <p>
    <strong>Samskara preparation:</strong>
    <%= food.samskara_preparation %>
  </p>

  <p>
    <strong>Habitat and source:</strong>
    <%= food.habitat_and_source %>
  </p>

  <p>
    <strong>Form of intake:</strong>
    <%= food.form_of_intake %>
  </p>

  <p>
    <strong>Samyoga combination:</strong>
    <%= food.samyoga_combination %>
  </p>

</div>
