<% content_for :main_container_class, 'bg-base-200' %>

<div class="flex flex-row justify-center mt-5">
  <ul class="menu menu-horizontal bg-base-100 rounded-box border" data-controller="healing-plan-tabs">
    <li>
      <%= link_to "Daily Plan", my_healing_plan_path(duration_type: 'daily'), data: { turbo_frame: :healing_plan_content, healing_plan_tabs_target: "link", action: "click->healing-plan-tabs#select" } %>
    </li>

    <li>
      <%= link_to "3 Month Plan", my_healing_plan_path(duration_type: 'three_month'), data: { turbo_frame: :healing_plan_content, healing_plan_tabs_target: "link", action: "click->healing-plan-tabs#select" } %>
    </li>

    <li>
      <%= link_to "6 Month Plan", my_healing_plan_path(duration_type: 'six_month'), data: { turbo_frame: :healing_plan_content, healing_plan_tabs_target: "link", action: "click->healing-plan-tabs#select" } %>
    </li>
  </ul>
</div>

<turbo-frame id="healing_plan_content">
  <% if @healing_plan.nil? %>
    <div class="max-w-xl mx-auto p-6">
      <div class="card bg-base-100 border border-gray-300">
        <div class="card-body text-center">
          <h2 class="card-title text-xl">No <%= @duration_type.humanize %> Plan Available</h2>
          <p class="text-base mt-3">
            You don't have a <%= @duration_type.humanize %> healing plan yet. 
            Please complete your assessment to generate all plan types.
          </p>
          <div class="card-actions justify-center mt-4">
            <%= link_to "Take Assessment", prakruti_assessment_intro_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <% case @duration_type %>
    <% when HealingPlan::DAILY %>
      <%= render 'daily_plan' %>
    <% when HealingPlan::THREE_MONTH %>
      <%= render '3_month_plan' %>
    <% when HealingPlan::SIX_MONTH %>
      <%= render '6_month_plan' %>
    <% end %>
  <% end %>
</turbo-frame>
