<div id="<%= dom_id chronic_illness %>" class="flex items-center space-x-4">
  <% if local_assigns.has_key?(:form) && form.present? %>
    <%= form.check_box :chronic_illness_ids, { multiple: true, class: "hidden peer", id: "chronic_illness_ids_#{chronic_illness.id}" }, chronic_illness.id, nil %>
    <%= form.label "chronic_illness_ids_#{chronic_illness.id}", class: "flex flex-col items-center w-36 h-34 cursor-pointer peer-checked:border-2 peer-checked:border-primary rounded-lg p-2" do %>
      <% if chronic_illness.icon.present? %>
        <%= image_tag "icons/#{chronic_illness.icon}", alt: chronic_illness.name, class: "w-full" %>
      <% end %>
      <span class="text-md font-semibold font-gray text-gray-600 text-center mt-2">
        <%= chronic_illness.name %>
      </span>
    <% end %>
  <% else %>
    <%= link_to start_prakruti_assessment_path(chronic_illness_id: chronic_illness.id), data: { turbo: false } do %>
      <div class="flex flex-col items-center w-36 h-34">
        <% if chronic_illness.icon.present? %>
          <%= image_tag "icons/#{chronic_illness.icon}", alt: chronic_illness.name, class: "w-full" %>
        <% end %>

        <span class="text-md font-semibold font-gray text-gray-600 text-center mt-2">
          <%= chronic_illness.name %>
        </span>
      </div>
    <% end %>
  <% end %>
</div>
