<!-- Card 2: Quick Actions -->
<div class="card bg-base-100 border border-gray-300 h-full">
  <div class="card-body flex flex-col p-0 px-4 pb-1">
    <h2 class="card-title text-lg justify-start pt-3">Today's Tasks</h2>

    <div class="flex flex-col items-center md:items-start md:flex-row justify-between gap-4">
      <div class="order-2 md:order-1">
        <ul class="overflow-y-auto text-xs timeline timeline-vertical h-64">
        <% @section_presenters.each do |presenter| %>
          <li>
            <div class="timeline-start"><%= presenter.name %></div>
            <div class="timeline-middle">
              <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="<%= 'text-primary' if presenter.completed_today? %> h-5 w-5"
                  >
                  <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"
                      />
              </svg>
            </div>
            <div class="timeline-end timeline-box"><%= presenter.first_item_preview %></div>
            <hr class="<%= 'bg-primary' if presenter.completed_today? %>" />
          </li>
        <% end %>
        </ul>
      </div>

      <div class="order-1 md:order-2">
        <calendar-multi
          value="<%= @habit_plan.completed_days_this_month %>"
          locale="en-GB"
          class="mt-0 md:-mt-9"
          >
          <svg
              aria-label="Previous"
              slot="previous"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              >
              <path d="M15.75 19.5 8.25 12l7.5-7.5"></path>
          </svg>
        <svg
            aria-label="Next"
            slot="next"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            >
            <path d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
        </svg>
        <calendar-month></calendar-month>
        </calendar-multi>
      </div>
    </div>
  </div>
</div>
