<!-- Card 3: Current Imbalance -->
<div class="card bg-base-100 border border-gray-300">
  <div class="card-body flex flex-col gap-2 p-4 px-6">
    <% if Current.user.vikruti %>
      <h2 class="card-title text-lg ">
        Current Imbalance:
        <span class="<%= dosha_color_class(Current.user.vikruti) %>">
          <%= Current.user.vikruti.name.titleize %>
        </span>
      </h2>

      <div class="text-md">
        <%= t("doshas.#{Current.user.vikruti.name.downcase}.description") %>
      </div>

      <div class="text-md">
        <%= t("doshas.#{Current.user.vikruti.name.downcase}.out_of_balance") %>
      </div>

      <ul class="list-disc pl-5 space-y-2 text-md">
        <% t("doshas.#{Current.user.vikruti.name.downcase}.bullet_points").each do |dosha_point| %> 
          <li><%= dosha_point %></li>
        <% end %>
      </ul>
    <% elsif Current.user.vikruti_plans.empty? %>
      <div class="flex-grow flex flex-col gap-4">
        <h2 class="card-title text-lg ">
          Current Imbalance Assessment
        </h2>

        <div class="text-md">
          <%= t("vikruti_assessment_description") %>
        </div>
      </div>

      <%= link_to "View Completed Assessment", assessment_results_path, class: "btn btn-secondary w-full text-secondary-content mt-2 font-semibold" %>
      <%= link_to "Check My Balance", vikruti_assessment_intro_path, class: "btn btn-neutral text-neutral-content w-full  mt-2 font-semibold" %>
    <% end %>
  </div>
</div>
