<div class="drawer-content text-md space-y-4" data-controller="modal">
  <label for="sidebar-toggle" class="btn btn-primary drawer-button lg:hidden">
    Open sidebar
  </label>

  <% if Current.user&.prakruti %>
    <!-- First Row - 3 equal columns -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <%= render 'dashboards/user_profile_card' %>
      <%= render 'dashboards/healing_plan_card' %>
      <%= render 'dashboards/current_imbalance_card' %>
    </div>

    <!-- Second Row - 2 equal columns -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <%= render 'dashboards/user_daily_streak_card' %>
      <%= render 'dashboards/balanced_state_card' %>
    </div>
  <% end %>
</div>
