<!-- Toggle button (for mobile) -->
<input id="sidebar-toggle" type="checkbox" class="drawer-toggle" />

<div class="drawer-side hidden lg:block" style="height: auto;">
  <label for="sidebar-toggle" class="drawer-overlay"></label>
  <ul class="menu p-4 w-[11rem] mt-5 bg-base-200 text-base-content">
    <!-- Sidebar items -->
    <li><%= link_to "Healing Plan", my_healing_plan_path %></li>
    <li><%= link_to "Messages", private_messages_path %></li>
    <li><%= link_to "Assessments", assessment_results_path %></li>
    <li><%= link_to "Check Ins", healing_plan_logs_path %></li>
    <li><%= link_to "Profile", user_path(Current.user) %></li>
  </ul>
</div>
