<h3 class="p-2 text-lg font-semibold mb-1">
  When <span class="<%= dosha_color_class(primary_dosha) %>"><%= primary_dosha.name.titleize %></span>
  Flows Smoothly vs When it's Disturbed
</h3>

<div class="flex flex-col gap-5">
  <p class="text-base px-2">Pitta, composed of the elements of Fire and Water, is the energy of transformation. It governs digestion, metabolism, body temperature, and intellectual processes. When Pitta is balanced, it brings sharp intellect, strong digestion, and leadership qualities. When disturbed, it can lead to anger, inflammation, and burnout.</p>

  <!-- Image placeholder for the first section -->
  <%= image_tag "health-assessments/pitta-leader.png", alt: "Pitta Leader", class: "w-full rounded-xl rounded" %>

  <h4 class="p-2 text-base font-semibold">Pitta's Manifestation in the Five Layers of Being</h4>

  <h5 class="text-sm font-semibold px-2">Balanced Pitta</h5>
  <p class="text-base px-2">
    In the Physical Body, Pitta ensures strong metabolism and warmth. In the Energy Body, it manifests as passion and clear direction. Mentally and Emotionally, balanced Pitta brings insight, motivation, and a sharp mind. In the Wisdom Body, it fosters clear vision and strong willpower, while in the Bliss Body, it manifests as devotion, radiance, and radiant joy.
  </p>

  <%= image_tag "health-assessments/pitta-visionary-leader.jpg", alt: "Pitta Visionary Leader", class: "w-full rounded rounded-xl" %>

  <h5 class="text-sm font-semibold mt-2 px-2">Unbalanced Pitta</h5>
  <p class="text-base px-2">
    When Pitta is out of balance, its fiery nature can manifest physically as inflammation, acidity, and overheating, or conversely, as coldness and poor digestion. Energetically, you might experience burnout, excessive intensity, and sharp energy, or a lack of drive and low vitality.
  </p>
  <%= image_tag "health-assessments/pitta-angry.jpg", alt: "Pitta Angry", class: "w-full rounded rounded-xl" %>
  <p class="text-base px-2">
    Mentally and emotionally, an imbalanced Pitta often leads to anger, impatience, and irritability. Alternatively, it can result in a lack of clarity, dullness, and apathy. Your intuition might become overanalyzing and critical, or conversely, lack spiritual insight and discernment.
  </p>
  <p class="text-base px-2">
    At the deepest level, an unbalanced Pitta can cause ego-driven intensity and forcefulness, or a loss of purpose and a dimmed sense of divine joy.
  </p>
  <p class="text-base px-2">
    These imbalances, if left unaddressed, can lead to chronic conditions and a persistent feeling of disharmony across all layers of your being.
  </p>

  <%= image_tag "health-assessments/pitta-executive.jpg", alt: "Pitta Executive", class: "w-full rounded rounded-xl" %>

  <h4 class="px-2 pt-2 text-base font-semibold">Keeping Pitta in Balance</h4>
  <p class="text-base px-2">
    Balancing Pitta means embracing cooling, soothing, and moderating influences. This involves favoring cooling, non-acidic foods, avoiding overheating, and engaging in activities that promote calm and relaxation to counteract Pitta's intense nature.
  </p>
  <p class="text-base px-2">
    Physically, opt for cooling foods and avoid excessive heat. Energetically, reduce competitive activities and spend time in nature. Mentally, cultivate inner reflection and avoid over-analysis.
  </p>
  <p class="text-base px-2">
    Ultimately, Pitta balance is about aligning with the principle of moderation, fostering inner peace, and guiding your system to harmony through mindful choices in diet, lifestyle, and spiritual practices.
  </p>
</div>
