<h3 class="p-2 text-lg font-semibold mb-1">
  When <span class="<%= dosha_color_class(primary_dosha) %>"><%= primary_dosha.name.titleize %></span>
  Flows Smoothly vs When it's Disturbed
</h3>

<div class="flex flex-col gap-5">
  <p class="text-base mt-3 px-2">Vata, composed of the elements of Air and Ether, is the energy of movement in the body and mind. It governs all biological movement, including breathing, circulation, nerve impulses, elimination, and the flow of thoughts. When Vata is balanced, it brings creativity, enthusiasm, and adaptability. When disturbed, it can lead to anxiety, dryness, and erratic behavior.</p>

  <h5 class="text-sm font-semibold mt-2 text-gray-600 pl-2">Balanced Vata</h5>
  <p class="text-base px-2">
    When Vata is balanced, its light and mobile qualities manifest as graceful motion and healthy bodily functions. You experience a natural flexibility in your physical being, with regular and comfortable movement.
  </p>

  <%= image_tag "health-assessments/vata-dancer.png", alt: "Vata Dancer", class: "w-full rounded rounded-xl" %>

  <p class="text-base pl-2 pt-2">
    On the energetic and mental planes, balanced Vata ensures a dynamic flow of vital energy, leading to mental clarity, alertness, and a wellspring of creative and inspired thoughts. Your intuition feels receptive and adaptable, allowing you to connect with subtle truths.
  </p>

  <p class="text-base pb-2 pl-2">
    At the deepest level, a harmonious Vata brings lighthearted joy, a sense of flow, and a profound joy in freedom, reflecting a balanced and expansive state of your inner bliss.
  </p>

  <%= image_tag "health-assessments/vata-sage.png", alt: "Vata Sage", class: "w-full rounded rounded-xl" %>

  <h5 class="text-sm font-semibold mt-4 text-gray-600 pl-2">Unbalanced Vata</h5>
  <p class="text-base px-2">
    When Vata is out of balance, its erratic and dry nature can manifest physically as tremors, gas, and dryness, or conversely, as sluggishness and constipation. Energetically, you might experience hyperactivity, anxiety, and restless movement, or a profound sense of fatigue and stagnation.
  </p>
  <%= image_tag "health-assessments/vata-anxious.png", alt: "Vata Anxious", class: "w-full rounded rounded-xl" %>
  <p class="text-base p-2">
    Mentally and emotionally, an imbalanced Vata often leads to anxiety, worry, and scattered thoughts, making focus difficult. Alternatively, it can result in a lack of initiative, boredom, and mental dullness. Your intuition might become distracted and overthinking, or conversely, feel stuck in rigid logic, lacking deeper insight.
  </p>
  <p class="text-base px-2">
    At the deepest level, an unbalanced Vata can cause overstimulated restlessness and a flighty sense of bliss, or a profound disconnection from joy, leading to apathy and a feeling of heaviness.
  </p>
  <%= image_tag "health-assessments/vata-elder.png", alt: "Vata Elder", class: "w-full rounded rounded-xl" %>
  <p class="text-base p-2">
    These imbalances, if left unaddressed, can lead to chronic conditions and a persistent feeling of disharmony across all layers of your being.
  </p>

  <h4 class="mt-3 px-2 text-base font-semibold">How to Keep Vata Flowing Smoothly</h4>
  <p class="text-base px-2">
    Balancing Vata means embracing opposites: warmth, moisture, heaviness, and stability. This involves favoring warm, nourishing foods, maintaining a regular routine, and engaging in grounding practices to counteract Vata's erratic nature.
  </p>
  <p class="text-base px-2">
    Physically, opt for warm, oily meals and gentle exercises. Energetically, stabilize vital force with slow breathwork and gentle yoga. Mentally, seek quiet, meditative spaces and avoid overstimulation.
  </p>
  <p class="text-base px-2">
    Ultimately, Vata balance is about aligning with nature's rhythms, fostering inner peace, and guiding your system to harmony through mindful choices in diet, lifestyle, and spiritual practices.
  </p>
</div>
