<%#
    This sets the classes for the main layout container.
    It will grow, have a background color, and center its content.
  %>
<% content_for :main_container_class, 'w-full flex-1 flex justify-center items-stretch bg-base-200' %>

<%#
    This is our custom card.
    Because its parent (<main>) has 'items-stretch', this card will be
forced to the full height of the padded area.
    %>
<div class="max-w-xl mx-auto flex flex-col p-6 text-gray-700" data-controller="modal">
  <%# Card Content %>
  <h2 class="text-md text-gray-600 tracking-wide text-center mb-5 mt-2">Your Assessment Results</h2>

  <div class="flex flex-col items-center gap-6 w-full">

    <div class="card w-full bg-base-100 border border-gray-300  flex flex-col p-6">
      <h3 class="p-2 text-lg text-center font-semibold mb-1">🧬 Your Primary Dosha is <span class="<%= dosha_color_class(primary_dosha) %>"><%= primary_dosha.name.titleize %></span></h3>

      <div class="p-2 flex flex-col gap-5">
        <p class="text-base">Your original nature, or Prakruti, is defined by your primary dosha. Understanding your Prakruti helps you align with your natural strengths and address potential imbalances.</p>

        <div class="text-base">
          <%= t("doshas.#{primary_dosha.name.downcase}.description") %>
        </div>

        <div class="text-base text-sm font-semibold mt-2 mb-2 text-gray-600">
          <ul class="list-disc list-inside space-y-1">
            <% t("doshas.#{primary_dosha.name.downcase}.bullet_points").each do |point| %>
              <li><%= point %></li>
            <% end %>
          </ul>
        </div>

        <div class="text-base">
          <span class="font-semibold text-gray-600 text-sm">Balanced</span><br>
          <p class="mt-1">
            <%= t("doshas.#{primary_dosha.name.downcase}.in_balance") %>
          </p>
        </div>

        <div class="text-base">
          <span class="font-semibold text-gray-600 text-sm">Unbalanced</span><br>
          <p class="mt-1">
            <%= t("doshas.#{primary_dosha.name.downcase}.out_of_balance") %>
          </p>
        </div>
      </div>
    </div>

    <div class="card w-full bg-base-100 border border-gray-300  flex flex-col p-6">
      <% case primary_dosha.name.downcase %>
      <% when 'vata' %>
        <%= render 'health_assessments/vata_info_card_content', primary_dosha: primary_dosha %>
      <% when 'pitta' %>
        <%= render 'health_assessments/pitta_info_card_content', primary_dosha: primary_dosha %>
      <% when 'kapha' %>
        <%= render 'health_assessments/kapha_info_card_content', primary_dosha: primary_dosha %>
      <% else %>
        <%# Handle other doshas or a default case if necessary %>
        <p>Information for <%= primary_dosha.name.titleize %> is not yet available.</p>
      <% end %>
    </div>

    <div class="card w-full bg-base-100 border border-gray-300  flex flex-col p-6">
      <h3 class="text-lg font-semibold mb-1 p-2">Your Chronic Conditions</h3>
      <div class="p-2 flex flex-col gap-5">
        <% chronic_illnesses.each do |illness| %>
          <div class="mb-3 mt-2">
            <h4 class="text-md font-semibold mb-6"><%= illness.name %></h4>
            <span class="font-semibold text-gray-600 text-sm">Description</span><br>
            <p class="text-md text-base mb-4 mt-2"><%= illness.description %></p>

            <span class="font-semibold text-gray-600 text-sm">Ayurvedic Root Cause</span><br>
            <p class="text-base mt-2"><%= illness.root_cause %></p>
          </div>
          <hr>
        <% end %>
      </div>
    </div>

    <div class="card w-full bg-base-100 border border-gray-300  flex flex-col p-6">
      <h3 class="text-lg font-semibold mb-2">🍲 Foods that Heal for <%= primary_dosha.name.titleize %></h3>
      <div class="p-2 flex flex-col gap-5">
        <ul class="list-disc list-inside space-y-1 text-base">
          <% primary_dosha.healing_foods.each do |food| %>
            <li><%= food.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="card w-full bg-base-100 border border-gray-300  flex flex-col p-6">
      <h3 class="text-lg font-semibold mb-2">❌ Foods that Aggravate for <%= primary_dosha.name.titleize %></h3>
      <div class="p-2 flex flex-col gap-5">
        <ul class="list-disc list-inside space-y-1 text-base">
          <% primary_dosha.aggravating_foods.each do |food| %>
            <li><%= food.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="card w-full bg-base-100 border border-gray-300  flex flex-col p-6">
      <h3 class="text-lg font-semibold mb-2">🌿 Healing Herbs for <%= primary_dosha.name.titleize %></h3>
      <div class="p-2 flex flex-col gap-5">
        <ul class="list-disc list-inside space-y-1 text-base">
          <% primary_dosha.healing_herbs.each do |herb| %>
            <li><%= herb.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="card w-full bg-base-100 border border-gray-300  flex flex-col p-6">
      <h3 class="text-lg font-semibold mb-1">✅ General Recommendations for <%= primary_dosha.name.titleize %></h3>
      <div class="p-2 flex flex-col gap-5">
        <% t("doshas.#{primary_dosha.name.downcase}.healing_plan.sections").each do |section| %>
          <h4 class="text-md font-semibold mt-4"><%= section[:name] %></h4>
          <ul class="list-disc list-inside space-y-1 text-base">
            <% section[:items].each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <% if authenticated? %>
      <%= link_to "🌿 Healing Plan", my_healing_plan_path, class: "btn btn-accent font-semibold text-black text-base w-full md:w-1/2" %>
      <%= link_to "🧭 Dashboard", dashboard_path, class: "btn btn-primary font-semibold text-white text-base w-full md:w-1/2", data: { turbo: false } %>
    <% else %>
      <div class="text-base">
        <strong>Sign Up to View Your Personalized Healing Plan</strong>
      </div>

      <button class="btn btn-primary font-semibold text-white text-base w-1/2" data-action="click->modal#open">Sign Up</button>
    <% end %>
  <%= render 'shared/sign_up_modal' %>
  </div>
</div>
