<div id="<%= dom_id herb %>">
  <p>
    <strong>Name:</strong>
    <%= herb.name %>
  </p>

  <p>
    <strong>Recommendation:</strong>
    <%= herb.recommendation %>
  </p>

  <p>
    <strong>Contraindication:</strong>
    <%= herb.contraindication %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= herb.details %>
  </p>

  <p>
    <strong>Rasa taste:</strong>
    <%= herb.rasa_taste %>
  </p>

  <p>
    <strong>Virya potency:</strong>
    <%= herb.virya_potency %>
  </p>

  <p>
    <strong>Vipaka post digestive effect:</strong>
    <%= herb.vipaka_post_digestive_effect %>
  </p>

  <p>
    <strong>Prabhava special action:</strong>
    <%= herb.prabhava_special_action %>
  </p>

  <p>
    <strong>Guna quality:</strong>
    <%= herb.guna_quality %>
  </p>

  <p>
    <strong>Samskara preparation:</strong>
    <%= herb.samskara_preparation %>
  </p>

  <p>
    <strong>Habitat and source:</strong>
    <%= herb.habitat_and_source %>
  </p>

  <p>
    <strong>Form of intake:</strong>
    <%= herb.form_of_intake %>
  </p>

  <p>
    <strong>Samyoga combination:</strong>
    <%= herb.samyoga_combination %>
  </p>

  <p>
    <strong>Elements:</strong>
    <%= herb.elements %>
  </p>

  <p>
    <strong>Recipes:</strong>
    <%= herb.recipes %>
  </p>

</div>
