<!-- Avatar Dropdown Links (complete navigation for authenticated users) -->
<% if authenticated? %>
  <!-- Main Navigation Links -->
  <li><%= link_to "Dashboard", dashboard_path, class: nav_link_class(dashboard_path) %></li>
  <li><%= link_to "Habit Plan", my_habit_plan_path, class: nav_link_class(my_habit_plan_path) %></li>
  <li><%= link_to "Messages", demo_messages_path, class: nav_link_class(demo_messages_path) %></li>
  <li><%= link_to "Community", demo_community_path, class: nav_link_class(demo_community_path) %></li>
  
  <li><%= link_to "Check Ins", habit_logs_path, class: nav_link_class(habit_logs_path) %></li>
  <li><%= link_to "Profile", profile_path, class: nav_link_class(profile_path) %></li>
  
  <!-- Logout (at very bottom) -->
  <li style="margin-left:-0.3rem;"><%= button_to "Logout", session_path, method: :delete, class: "link-button text-gray-400" %></li>
<% end %>
