<!-- Avatar Dropdown Links (additional navigation) -->
<% if authenticated? %>
  <li><%= link_to "Messages", private_messages_path, class: nav_link_class(private_messages_path) %></li>
  <li><%= link_to "Assessments", assessment_results_path, class: nav_link_class(assessment_results_path) %></li>
  <li><%= link_to "Check Ins", healing_plan_logs_path, class: nav_link_class(healing_plan_logs_path) %></li>
  <li><%= link_to "Profile", profile_path, class: nav_link_class(profile_path) %></li>
<% end %>

<% if authenticated? %>
  <li style="margin-left:-0.3rem;"><%= button_to "Logout", session_path, method: :delete, class: "link-button text-gray-400" %></li>
<% end %>
