<li><%= link_to "Dashboard", dashboard_path, class: nav_link_class(dashboard_path) %></li>
<li><%= link_to "Food", foods_path, class: nav_link_class(foods_path) %></li>
<li><%= link_to "Herbs", herbs_path, class: nav_link_class(herbs_path) %></li>
<li><%= link_to "Cures", cures_path, class: nav_link_class(cures_path) %></li>
<li><%= link_to "Lifestyle", lifestyle_plans_path, class: nav_link_class(lifestyle_plans_path) %></li>
<li><%= link_to "Books", books_path, class: nav_link_class(books_path) %></li>

<% if Current.user&.admin? %>
  <li class="text-info"><%= link_to "Admin", admin_root_path %></li>
<% end %>
