<div class="navbar bg-transparent sticky top-0 z-50  transition-transform duration-300 ease-in-out" data-controller="mobile-menu scroll-nav" data-scroll-nav-target="navbar">
  <div class="navbar-start">
    <% if authenticated? %>
      <%= link_to "🧬MindFlow", root_path, class: "btn btn-ghost text-2xl text-primary tracking-tighter !gap-0", style: "padding-left: 2rem;" %>
    <% else %>
      <%= link_to raw("🧬Mind<span class='text-primary'>Flow</span>"), root_path, class: "btn btn-ghost text-2xl text-primary tracking-tighter !gap-0", style: "padding-left: 2rem;" %>
    <% end %>
  </div>

  <div class="navbar-center hidden sm:flex">
    <ul class="menu menu-horizontal px-1 text-sm lg:text-base">
      <%= render "layouts/navigation_links" %>
    </ul>
  </div>

  <div class="navbar-end" style="padding-right: 0.7rem;">

    <% if authenticated? %>
      <!-- Avatar Dropdown for All Screen Sizes -->
      <div data-controller="mobile-menu">
        <div class="btn btn-ghost btn-circle avatar" data-action="click->mobile-menu#toggle">
          <div class="w-10 rounded-full overflow-hidden">
            <% if Current.user.avatar.attached? %>
              <%= image_tag Current.user.avatar, class: "w-full h-full object-cover" %>
            <% else %>
              <div class="w-full h-full bg-neutral text-neutral-content flex items-center justify-center text-lg">
                <%= Current.user.name[0].upcase %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="absolute left-0 right-0 top-full <%= current_page?(root_path) ? 'bg-neutral' : 'bg-base-100' %> shadow-lg z-50 hidden" data-mobile-menu-target="menu">
          <ul class="menu menu-vertical p-2 w-full">
            <li class="font-light text-gray-500 italic" style="margin-left:-0.3rem;"><span>Logged in as <%= Current.user.name %></span></li>
            <%= render "layouts/avatar_dropdown_links" %>
          </ul>
        </div>
      </div>
    <% else %>
      <button class="btn btn-accent" onclick="document.getElementById('sign_up_modal').showModal()">Join -></button>
    <% end %>
  </div>

</div>
