<div class="navbar bg-base-100 sticky top-0 z-50 border-b">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a>Item 1</a></li>
      </ul>
    </div>
    <%= link_to raw("🌿Ancient<span class='text-secondary'>Herb</span>"), root_path, class: "btn btn-ghost text-2xl pl-8 text-primary tracking-tighter" %>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "Dashboard", dashboard_path, class: nav_link_class(dashboard_path) %></li>
      <li><%= link_to "Food", foods_path, class: nav_link_class(foods_path) %></li>
      <li><%= link_to "Herbs", herbs_path, class: nav_link_class(herbs_path) %></li>
      <li><%= link_to "Cures", cures_path, class: nav_link_class(cures_path) %></li>
      <li><%= link_to "Lifestyle", lifestyle_plans_path, class: nav_link_class(lifestyle_plans_path) %></li>
      <li><%= link_to "Books", books_path, class: nav_link_class(books_path) %></li>

      <% if Current.user&.admin? %>
        <li class="text-info"><%= link_to "Admin", admin_root_path %></li>
      <% end %>
    </ul>
  </div>

  <div class="navbar-end">

    <% if authenticated? %>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
                alt="Tailwind CSS Navbar component"
                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
          </div>
        </div>
        <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li class="font-light menu-title italic"><span>Logged in as <%= Current.user.name %></span></li>
          <li>
            <a class="justify-between">
              Profile
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><%= button_to "Logout", session_path, method: :delete, class: "link-button" %></li>
        </ul>
      </div>
    <% else %>
      <button class="btn btn-accent" data-action="click->modal#open">Join -></button>
    <% end %>
  </div>

</div>
