<!DOCTYPE html>
<html data-theme="black">
  <head>
    <title><%= content_for(:title) || "Ancient Herb" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <% if Current.user %>
      <meta name="current-user-name" content="<%= Current.user.name %>">
      <meta name="current-user-id" content="<%= Current.user.id %>">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% unless content_for?(:vite_page) %>
      <%= javascript_importmap_tags %>
    <% else %>
      <%= vite_client_tag %>
    <% end %>
    <%# <vite_javascript_tag 'application'> %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="min-h-screen flex flex-col" data-controller="modal">
    <% unless content_for?(:hide_navigation) %>
      <%= render "layouts/navigation" %>
    <% end %>
    <%= render "layouts/flash" %>

    <div class="flex-1 flex flex-col">
      <div id="main_content_area" class="flex-1 <%= content_for?(:main_container_class) ? yield(:main_container_class) : 'container mx-auto px-5' %>">
        <%= yield %>
      </div>
    </div>

    <% unless content_for?(:hide_footer) %>
      <%= render "layouts/footer" %>
    <% end %>
    <%= render "shared/sign_up_modal" %>
    
    <script>
      function switchModalTab(event, tabId) {
        event.preventDefault();
        console.log('Switching to tab:', tabId);
        
        // Update tab styling
        const tabs = document.querySelectorAll('#sign_up_modal .tab');
        tabs.forEach(tab => {
          tab.classList.remove('tab-active');
          if (tab.getAttribute('data-tab') === tabId) {
            tab.classList.add('tab-active');
          }
        });
        
        // Show/hide panes
        const panes = document.querySelectorAll('#sign_up_modal .tab-pane');
        panes.forEach(pane => {
          if (pane.id === tabId) {
            pane.classList.remove('hidden');
          } else {
            pane.classList.add('hidden');
          }
        });
      }
    </script>
  </body>
</html>
